body {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    background-color: ;
}

header  {
    text-align: center;
}

hr {
    width: 80vw;
    height: 1%;
    border: solid;
}

section {
  text-align: center; 
}

.highlight {
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  text-align: left; /* Optional: aligns text inside to the left */
}


footer {
    text-align: center;
}

#wedding-image {
    width: 25rem;
    border-radius: 50px;
}

.mtop {
    margin-top: 25px;
}

ul li{
    margin-top: 3px;    
}