body {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

header  {
    text-align: center;
}

hr {
    width: 80vw;
    height: 1%;
    border: solid;
}

section {
    text-align: center;
    padding-left: 155px;
    display: inline-block;
}


