body {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: lightpink;
}
img {
    width: 30em;
<<<<<<< HEAD
    transition: transform 0.5 ease;
=======
    transition: transform 1s ease;
>>>>>>> 99765248f63c668ad20a1c8a02d6cb3fa265a2c8
}
h2 {
    text-align: left;
    margin-right: 40%;
    font-size: 1.3rem;
}

img:hover {
    transform: scale(1.1);
}