body {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}
img {
    width: 30em;
    transition: transform 1s ease;
}
h2 {
    text-align: left;
    margin-right: 40%;
    font-size: 1.3rem;
}

img:hover {
    transform: scale(1.1);
}